<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>音乐列表</title>

    <link href="css/template.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery.min.js""></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$('#wrapper').width($(window).width());
			$('.wrap-ul li').width($(window).width());
			$('.row').width($(window).width());
			var $v_li=$(".wrap-ul li");
			var v_width=$(window).width();
			var r_width=0;
			var len=$v_li.length;
			var page=1;
			//页面点击切换时间
			$(".nav-li").click(function(){
				$(".nav-li a").css('color','rgb(247,76,69)');
				$(this).children("a").css('color','#FFF');
				$v_li.css({left:'-='+v_width});
				page = $(this).index();//当前索引值
				$v_li.css({left:-v_width*page});
				r_width=v_width*page;
				page++;
			});
			
			//左右切换事件
			$("#wrapper").on("touchstart", function(e) {
				e.preventDefault();
				startX = e.originalEvent.changedTouches[0].pageX;
			});
			$("#wrapper").on("touchmove", function(e) {
				e.preventDefault();
				moveEndX = e.originalEvent.changedTouches[0].pageX;
				X = moveEndX - startX;
				if ( X > 0 ) {
					if(!$v_li.is(":animated")){
						if(page>1){
							$v_li.animate({left:('+='+v_width)+'+'+r_width},"slow");
							page--;
							$(".nav-li a").css('color','rgb(247,76,69)');
							$(".nav-li:eq(" + (page-1) + ") a").css('color','#FFF');
						}
					}
				}else if ( X < 0 ) {
					if(!$v_li.is(":animated")){
						if(page<len){
							$v_li.animate({left:('-='+v_width)+'+'+r_width},"slow");
							console.log(('-='+v_width)+'+'+r_width);
							$(".nav-li a").css('color','rgb(247,76,69)');
							$(".nav-li:eq(" + page + ") a").css('color','#FFF');
							page++;
						}
					}
				}
			});
			
			//点击列表音乐选中事件
			
			//关闭事件
			$(".header-right").click(function(){
				
			});
		});
	</script>

  </head>
  
  <body>
      <header>
          <div class="header-left">选模板</div>
          <div class="header-right"><img src="images/close.png" alt="" width="20px" height="20px" /></div>
      </header>
    <nav>
       <ul class="nav-ul">
        <li class="nav-li"><a href="#" class="a1" style="color:#FFF">热门</a></li>
        <li class="nav-li"><a href="#" class="a2">校园</a></li>
        <li class="nav-li"><a href="#" class="a3">爱情</a></li>
        <li class="nav-li"><a href="#" class="a4">节日</a></li>
        <li class="nav-li"><a href="#" class="a5">儿童</a></li>
        <li class="nav-li"><a href="#" class="a6">多图</a></li>
        <li class="nav-li"><a href="#" class="a7">大图</a></li>
        </ul>
    </nav>
    <div id="wrapper">
        <ul class="wrap-ul">
            <li>
                <div class="row">
                	<div class="row1">
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                 	</div>
                </div>
             </li>
             <li>
                <div class="row">
                	<div class="row1">
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                 	</div>
                </div>
              </li>
              <li>
                <div class="row">
                	<div class="row1">
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                 	</div>
                </div>
              </li>
              <li>
                <div class="row">
                	<div class="row1">
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                 	</div>
                </div>
            <li>
                <div class="row">
                	<div class="row1">
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                 	</div>
                </div>
            </li>
            <li>
               <div class="row">
                	<div class="row1">
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                 	</div>
                </div>
            </li>
            <li>
                <div class="row">
                	<div class="row1">
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                      <div class="list"><img src="images/music.png" alt=""/></div>
                 	</div>
                </div>	
            </li>
        </ul>
    </div>

    <script src="js/jquery.min.js"></script>
  </body>
</html>