/* hardware accelatator class */	
body{
	background-color:#9FF;
	width:100%;
	height:100%;
}
	.trans3d
	{
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform-style: preserve-3d;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform-style:preserve-3d;
		-ms-transform: translate3d(0, 0, 0);
		transform-style:preserve-3d;
		transform: translate3d(0, 0, 0);

		/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
	}
	
	#contentContainer
	{
		position:absolute;
		left:50%;  
		top:30%;  
	}
	
	#carouselContainer
	{
		position:absolute;
		left:50%;  
		top:30%;  
	}
	}
	
	.carouselItem
	{
		width:150px;
		height:250px;
		position:absolute;
		visibility:hidden;
	}
	
	.carouselItemInner
	{
		width:150px;
		height:250px;
		position:absolute;
		text-align:center;
		
	}