@charset "utf-8";
/* CSS Document */
.imgg{
	background-image:url(34.jpg);
	width:auto;
	height:90px;
}
h1{
	color:#F00;
	text-align:center;
}
h2{
	color:#6F0;
	text-align:center;
}
table{
	border:solid 1px #000;
	border-collapse:collapse;
	text-align:center;
	font-family:微软雅黑;
	width:100%;
}
th{
	border:solid 1px #000;
	background-color:#ccc;
}
td{
	border:solid 1px #000;
}
table tr:nth-child(even){
	background:#CCC;
}
table tr:nth-child(30) td:nth-child(1){background-color:#FFF;}
table tr:nth-child(25) td:nth-child(1){background-color:#CCC;}