@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
}
body{
	width:100%;
	height:auto;
	font-size:16.5px;
	font-family:微软雅黑;
}
header{
	height:48px;
	background-color:rgb(247,76,69);
	font-size:20px;
	color:#FFF;
	line-height:48px;
	padding-left:15.5px;
	padding-right:15.5px;
}
.header-left{
	float:left;
}
.header-right{
	float:right;
}
nav{
	height:42px;
	background-color:rgb(74,74,74);
	text-align:center;
	padding-left:15.5px;
	padding-right:15.5px;
}
.nav-ul{
	list-style-type:none;
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items:center;
}
.nav-li{
	float:left;
	line-height:42px;
}
.nav-li a{
	color: rgb(247,76,69);
	text-decoration:none;
}
#wrapper{
	overflow:hidden;
}
.wrap-ul li{
	position:relative;
	list-style-type: none;
	display:table-cell;
}
.row{
	display:block;
}
.list{
	height:66px;
	border-bottom:1px solid rgb(102,102,102);
	line-height:66px;
	padding-left:25.5px;
}
.list img{
	vertical-align:middle;
	margin-right:15.5px;
}