
#div0{
	border:solid 1px #999;
	padding:10px;
	height:300px;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items:center;
}
#div1{
	border:solid 1px #f00;
	height:120px;
	width:150px;
	float:left;
	margin:10px;
}
#div2{
	border:solid 1px #f00;
	height:100px;
	width:150px;
	float:left;
	margin:10px;
}
#div3{
	border:solid 1px #f00;
	height:40px;
	width:150px;
	float:left;
	margin:10px;
}
#div4{
	border:solid 1px #0f0;
	height:200px;
	width:150px;
	float:left;
	margin:10px;
}
@media all and (max-width:640px){
	#div0{
		align-content:flex-start;
	    align-items:flex-start;
	}
	#div4{
		order:-1;
	}
}