body { position: relative; overflow:hidden;}
body{
		width: 100%;
		height: 100%;
		background-color: #5569ae;
		overflow: hidden;
		background-repeat:no-repeat;
		background-image:url(../images/bj.jpg);
		background-repeat:repeat;
		
	}
	.snow-container{position: fixed; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; z-index: 100001;}
.zp { width: 100%;text-align:center; }
.zppic { display: inline-block; max-width: 100px; max-height: 120px;}
    .zppic img { width: 100%; }


.bigpic { position: absolute; overflow: hidden; z-index: 99; width: 0px;}
    .bigpic img { width: 100%; }

table { width:100%;}
.th {height:40px; }