@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#eee;
	font-family:微软雅黑;
	font-size:16px;
}
header{
	width:100%;
	height:auto;
	background-color:#333;
	color:#FFF;
}
header img{
	margin:20px;
}
nav{
	width:auto;
	height:auto;
	float:right;
	margin:25px 20px;;
	
}
nav ul li{
	display:inline;
	color:#FFF;
	margin-right:10px;
}
nav ul li a{
	color:#FFF;
	font-family:黑体;
}
.left{
	margin-right:473px;
}
.right{
	float:right;
	background-color:#FFF;
	width:400px;
	height:auto;
	box-shadow:1px 1px 5px #222;
	padding:40px 30px 10px 20px;
}
.main{
	padding:20px 20px 0px 20px;
}
.div1{
	margin-bottom:20px;
	background-color:#FFF;
	width:auto;
	box-shadow:1px 1px 5px #222;
	padding:40px 30px 40px 20px;
	overflow:auto;
}
h2{
	margin-bottom:20px;
	font-size:25px;
}
h3{
	color:#666;
	margin-bottom:15px;
	font-size:18px;
}
.p1{
	color:#666;
	margin-bottom:25px;
	font-size:9px;
}
.p2{
	text-indent:33px;
	line-height:35px;
}
.image{
	border:solid 1px #000000;
	text-align:center;
	width:14%;
	height:14%;
	padding:10px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.image img{
	border:solid 1px #000;
	width:90%;
	height:90%
}
.image p{
	margin-bottom:20px;
	font-size:50%;
}
.div2{
	clear:left;
}

ol{
	line-height:30px;
	padding-left:40px;
}
table{
	border-collapse:collapse;
	border:solid 1px #999;
	width:100%;
	height:auto;
}
tr{
	width:auto;
	height:30px;
}
th{
	font-size:15px;
	background-color:#333;
	color:#FFF;
	text-align:left;
}
td{
	font-size:15px;
}
#trall{
	background-color:#999;
}

input{
	margin-bottom:15px;
}
select{
	margin-bottom:15px;
}
.label1{
	width:130px;
	text-align:right;
	display: inline-block;
	margin-right:10px;
}
.p3{
	margin-left:150px;
	text-align:left;
	font-size:9px;
}
textarea{
	vertical-align:top;
	width:250px;
	height:100px;
}
#send{
	background-color:#06F;
	width:100%;
	height:40px;
	margin-top:20px;
	border-radius:10px 10px 10px 10px;
}




footer{
	clear:both;
	width:100%;
	height:50px;
	background-color:#333;
	color:#FFF;
	text-align:center;
	padding-top:20px;
}

